body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.459);
}

#container {
    display: flex;
    flex-direction: column; /* imagem em cima, texto embaixo */
    align-items: center;    /* centraliza horizontalmente */
    text-align: center;     /* centraliza o texto */
    gap: 1rem;
}